@page "/"

<PageTitle>PecuniaAPP</PageTitle>

<h1>Hallo, wereld!</h1>
<div padding="10px">
    Welkom bij de PecuniaAPP.

    <SfCalendar TValue="DateTime?"></SfCalendar>
</div>


<div id="card1" width="500">
    <SfCard Orientation="CardOrientation.Horizontal">
        <CardImage Image="pictures/geld.jpg"></CardImage>
        <CardStacked>
            <CardHeader Title="just a card" SubTitle="hoe werken cards?" />
            <CardContent Content="Dit is een card" />
        </CardStacked>
    </SfCard>
</div>

<style>
    #card1 {
        text-align: center;
        color: darkblue;
        width: 300px;
        height: 150%;
        border: 3px;
        border-width: 3px;
        border-color: aliceblue;
        display: flex;
    }
</style>